# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# ==========================
# Dataset (Do NOT upload)
# ==========================
dataset/

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
Thumbs.db
.DS_Store

# ==========================
# Logs
# ==========================
*.log